<div class="topic-header">
  <h2>All Topics</h2>
  <%= link_to "Add Topic", new_topic_path, :class=>"btn btn-primary btn-sm" %>
</div>

<% if @topics.any? %>
  <div class="topic-container">
    <% @topics.each do |t|%>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title"><%= link_to t.title, topic_path(t) %></h3>
            <% if t.posts.any? %>
              <p><%= t.posts.first.content_body %></p>
              <p>...</p>
            <% end %>
            <% if is_admin? == true %>
              <%= link_to "Delete Post", topic_path(t), method: :delete, :class => "delete-button btn btn-danger btn-sm" %>
            <% end %>
          </div>

        </div>
    <% end %>
  </div>
<% end %>
